@use '@/styles/global' as *;

.heading {
  &[data-modifier='first'] {
    color: $s-color_text_body;
    @include text-style(heading_first_pc);

    &::after {
      content: '';
      display: block;
      height: pxrem(4);
      margin-top: pxrem(10);
      background-color: $p-color_grey_900;
      border-radius: 100px;
    }

    @include media(sp) {
      @include text-style(heading_first_sp);
    }
  }

  &[data-modifier='second'] {
    width: fit-content;
    color: $s-color_text_body;
    @include text-style(heading_second_pc);

    &::after {
      content: '';
      display: block;
      height: pxrem(2);
      margin-top: pxrem(5);
      background-color: $p-color_grey_900;
      border-radius: 100px;
    }

    @include media(sp) {
      @include text-style(heading_second_sp);
    }
  }

  &[data-modifier='third'] {
    position: relative;
    color: $s-color_text_body;
    @include text-style(heading_third_pc);
    padding-left: pxrem(14);

    &::before {
      content: '';
      position: absolute;
      top: 0.375rem;
      left: 0;
      width: pxrem(4);
      height: $font-size_xxxl;
      background-color: $p-color_grey_900;
      border-radius: 100px;
    }

    @include media(sp) {
      @include text-style(heading_third_sp);

      &::before {
        height: $font-size_xxl;
      }
    }
  }

  &[data-modifier='fourth'] {
    color: $s-color_text_body;
    @include text-style(heading_fourth_pc);

    @include media(sp) {
      @include text-style(heading_fourth_sp);
    }
  }

  &[data-modifier='fifth'] {
    color: $s-color_text_body;
    @include text-style(heading_fifth_pc);

    @include media(sp) {
      @include text-style(heading_fifth_sp);
    }
  }
}
