@use '@/styles/global' as *;

.mediaGroup {
  display: flex;
  padding: pxrem(40) 0px;
  flex-direction: column;
}

.media {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 60%;
    height: 55%;
    background-color: $p-color_grey_50;
    z-index: -1;
  }

  @include media(sp) {
    &::before {
      width: 68%;
      height: 68%;
    }
  }

  &[data-modifier='second'] {
    .inner {
      flex-direction: row-reverse;

      @include media(sp) {
        flex-direction: column;
      }
    }

    &::before {
      left: 0;
      background-color: $p-color_grey_100;
    }
  }

  &[data-modifier='third'] {
    &::before {
      background-color: $p-color_grey_200;
    }
  }

  .inner {
    display: flex;
    max-width: pxrem(1200);
    padding: pxrem(80) pxrem(20);
    justify-content: space-between;
    align-items: center;
    gap: pxrem(40);

    @include media(sp) {
      flex-direction: column;
    }
  }

  .body {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: pxrem(40);

    @include media(sp) {
      width: 100%;
    }
  }

  > * > img {
    width: 40%;
    @include image-aspect-ratio(ratio_16-9);

    @include media(sp) {
      width: 100%;
    }
  }
}
