@use '@/styles/global' as *;

/*********************************
    フッター
*********************************/

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $s-color_background_secondary;

  .inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $content_width;
    padding: pxrem(40) pxrem(20);
    gap: pxrem(40);
  }

  .menu {
    display: flex;
    justify-content: space-between;
    gap: pxrem(40);

    @include media(sp) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .leftColumn {
    display: flex;
    align-items: flex-start;
    gap: pxrem(20);
    flex-shrink: 0;

    @include media(sp) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: pxrem(40);

    @include media(sp) {
      align-items: flex-start;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    @include font($font-size_xs);
    line-height: $line-height_s;
  }
}
